<!DOCTYPE html>
<html class="root">
  <head>
    <meta charset="utf-8">
    <title>InNerd.io discover everything about a software developer</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="box centered">
      <div class="title">
        <a href="<%= root_path %>" class="title__home">InNerd.io</a>
        <div class="title__description">Discover everything about a software developer</div>
      </div>

      <% flash.each do |name, message| -%>
        <%= content_tag :div, message, class: "box__row #{name}"%>
      <% end -%>

      <%= yield %>

      <%= render 'search' %>

    </section>
  </body>
</html>
