<!DOCTYPE html>
<html>
  <head>
    <title>InNerd</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>InNerd.io</h1>
    <p>InNerd.io is a tool to find more about software developers.</p>
    <%= render 'search' %>

    <% flash.each do |name, message| -%>
      <%= content_tag :div, message, class: name %>
    <% end -%>

    <%= yield %>
  </body>
</html>
